{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Aula 6 - Cadastro de contatos {% endblock %}
{% block extrahead %}
		<link href="{% static "core/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
{% endblock %}

<h3>Adicionar Contatos</h3>
{%block content%}
<form class="form-horizontal" action="." method="post">
	{% include 'form.html' %}
	<div class="form-actions">
        <input class="btn btn-default btn-large" type="submit" value="Submit"/>
        {% block extra_buttons %}
        {% endblock extra_buttons %}
    </div>
</form>
<hr>
<h3>Lista de contatos cadastrados</h3>

{% if contatos %}
	{% for contato in contatos %}
		{{ contato.first_name }} {{ contato.last_name }}<br/>
	{% endfor %}
{% else %}
	Não temos contatos cadastrados
{% endif %}

{% endblock %}

{% block extrajs %}
	    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <script src="{% static "core/bootstrap/js/bootstrap.js" %}"></script>
{% endblock %}